{% extends "layout.html" %}

{% block title %}Dashboard - {{ start }} au {{ end }}{% endblock %}

{% block content %}
{% include "partials/_tables.html" %}

{% include "partials/_charts.html" %}

{% include "partials/_spreads.html" %}
{% endblock %}

{% block scripts %}
<script>
    // Injected Flask Data
    const tcdData = {{ tcd_json | safe }};
    window.globalSpreadData = {{ df_json | safe }};


    Object.keys(tcdData).forEach(key => {
            // Parse the string into an object
            const parsed = JSON.parse(tcdData[key]);
            
            console.log(`--- Structure for ${key} ---`);
            console.log("Index (Rows):", parsed.index);
            console.log("Columns:", parsed.columns);
            
            // This prints the numerical data as a table in your F12 console
            console.table(parsed.data); 
        });
        
    window.onload = () => {
        // CHANGE THIS: Match the function name in charts.js
        if (typeof tcdData !== 'undefined') {
            renderAgMultiDonut(tcdData);
        }

        if (typeof window.globalSpreadData !== 'undefined') {
            initSpreadUI(window.globalSpreadData);
        }
    };
</script>
{% endblock %}