<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Analyse Risque{% endblock %}</title>
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-charts-enterprise@13.0.0/dist/umd/ag-charts-enterprise.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>

<body class="p-8">
    <div class="max-w-7xl mx-auto">
        <div class="flex justify-between items-center mb-12">
            <h1 class="text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-400">
                Reporting Risque Couvert
            </h1>
            <a href="/" class="bg-gray-800 px-6 py-2 rounded-xl hover:bg-gray-700 transition border border-gray-600">
                Nouvelle Analyse
            </a>
        </div>

        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>